:root {
    /* numDays corresponds to the number of columns / days on the schedule*/
    --numDays: 5;
    /* corresponds to the number of rows / hours */
    --numHours: 26;
    /* spacing between top and bottom for the times */
    --timeHeight: 55px;
    /* background colour for the inside of the schedule*/
    --calBgColor: white;
    --eventBorderColor: #f2d3d8;
  
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
  
    /* bootstrap background colour and font*/
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
  
  
    /* colours that correspond to one type of thing on the schedule */
    --eventColor2: #fafaa3;
    --eventColor1: #e2f8ff;
    --eventColor3: #892d21;
    --eventColor4: #d1ffe6;
  }
  
/* -=------------------------------------------------------------------------------------------------------------------------------------ */
body {
  margin: 0;
  background: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;

}
.container {
  width: 98%;
  margin: 0 auto;
}

.tophead {
  margin-top:0;
  padding-top:0;
  height:30px;
  background-color: #f5f5f5;
}



header {
  background: #B5121B;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

.logo {
  float: left;
}


nav {
  float: right;
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 28px;
  margin-right: 30px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1.5px;
}

nav a:hover {
  color: white;
  font-weight: 700;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover:before {
  width: 100%;
}

.containerL {
  max-width: 70%;
  width: 70%;
}

.containerR {

  max-width: 30%;
  width: 30%;
  display: flex;
  padding: 2px;
}

.tophead ul{
  list-style:none;
  margin:0;
  padding:0;
  list-style: none;
 
}

.tophead li {
  display: inline-block;
  padding-left: 40px;
  margin-left: 5px;
  margin-right: 0px;
  position: relative;
  margin-top: 6px;
  
}


.tophead a {
  font-family: "FFDINProCondBlack";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cc0633;
  font-weight: 700;
  margin:0;
  cursor: pointer;
  
}
.tophead .icons ul{
  list-style:none;
  margin:0;
  padding:0;
  list-style: none;
 
}

.tophead .icons li {
  display: inline-block;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  margin-top: 6px;
  
}


/* --------------------------------------------------------------------------------------------------------------------------------------- */










  /* change colour of the links */
  a{color: var(--primary-color);}
  /* change colour of the links when hovering over */
  a:hover{color: rgb(214, 49, 37);}
  
  /* 
    media queries that will break and shift from desktop to mobile
    changes the text of hero to fit the screen
    @media (min-width: 570px)  {}
    @media (min-width: 768px)  {}
    @media (min-width: 992px)  {}
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    @media (min-width: 1600px) {} 
    these numbers represent the moment bootrstrap grids switch 
  */
  @media (min-width: 1200px) {
    .container__hero{
        width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container__hero{
        width: 1340px;
    }
    /* adjust the heading of hero box when large enough*/
    .hero__heading{
        font-size:3.2rem;
    }
  }
  
  
  @media (min-width: 1600px) {
    .container__hero{
        width: 1520px;
    }
  }

  /* background colour for entire site */
  .body__background_colour_site{
    background-color: #FBF0F6;
  }

  
  /* ------------------------------------------------------------------------------------------------------------------------------ */
  
  /*
    Main Header
  */
  .header{
    /* need z index becasue main header is positioned absolute*/
    /* sets the order of things rendered out first (greater the Z, more recent the render*/
    z-index: 2;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------ */
  
  /* 
    Navigation Bar (Menu Button)
  */
  #navbar{
    /* Menu always stays on top even if you scroll */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  
    /* background colour when the navbar is on */
    /* background-color: rgb(255, 247, 231); */
    background-color: var(--bs-body-bg);
  
    /* ensures that the navbar is rendered above the screen */
    z-index: 4;
  }
  
  /* 
    Exit Button for Nav Bar
  */
  .dropdown-nav__closeNavButton{
    position: absolute;
    top: 20px;
    right: 16px;
    /* set colour and opacity */
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* background-color: rgb(4, 201, 245,0.6); */
    background-color: var(--bs-body-bg);
  }
  
  /*
    Animation for Menu container after you press the menu
    Fixes the animation stutter
  */
  dropdown-nav__container{
    /* sets the height of the container to be 100% of the viewport/visable area on screen */
    /*1vh is 1% of the visable area, 100vh is 100%*/
    height: 100vh;
    /* vertical | horizontal */
    padding: 0 1rem;
  }
  
  
  /* ------------------------------------------------------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------------------------------------------------------ */
  
  /* 
      Body Sections (main info)
  */
  /* container for the main body section of the home page */
  /* really don't need this but idk if I should delete this or not */
  .body{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  /* style for the body picture */
  .body__text_picture{
    height: auto;
    margin: 0 auto;
  }
  
  /* adjust if mobile */
  @media(min-width: 544px){
    .steps{
        padding-top: 80px;
        padding-bottom: 80px;
    }
  }
  
  /* container for the body */
  .container_body{
    width: 100%;
    /* vertical | horizontal */
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  /* max width for the main text body */
  /* shifts it to the center */
  .body__text_width{
    max-width: 600px;
    margin: auto auto;
  }
  
  /*
    background colour for the second section
  */
  .body__background_colour{
    background-color:#736b6b;
    /* background-color: #CC0633; */
  }

  .col{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }

  .row__body{
    border-bottom: solid 1px red;
  }




  /* ------------------------------------------------------------------------------------------------------------------------------ */
  
  
  
  /* START OF SCHEDULER */
  /* remove this cuz header funky */
  .background-colour{
    /* background-color:rgb(131, 90, 125) */
  }
  
  /* change the text font and size */
  body {
    /* change the font to be consitent with the dashboard */
    font-family: (--bs-body-font-family);
  }
  
  /* the font of the times on the side */
  .time-marker{
    font-weight: bold;
  }
  
  
  /* style the entire scheduler*/
  .scheduler-container{
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
  }
  /*create a pseudo table with size a certain size*/
  .table__creator{
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  }
  /* 
    style for the days container
    set the entire grid to be side by side
  */
  .days__container {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  /*  
    style the individual columns / background of the scheduler
  */
  .events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
  }
  
  /* for the class / event name */
  .title {
    font-weight: 600;
    margin-bottom: -0.25rem;
  }
  
  /* style for the individual event / class */
  .event {
    /* create a border around the event*/
    border: 2px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
  }
  
  /*  Size and style of the Days */
  .date-day {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    margin: 50px 50px;
  }
  
  
  .space .date {
    height: 60px
  }
  
  /* colour of the class event*/
  .eColor {
    background: var(--eventColor1);
  }
  
  
  /* 
    correctly place the times to span during the correct time frame
    each is needed to determine where the row starts and ends
  */
  
  .start-8\:00{
    grid-row-start: 2;
  }
  .start-8\:30{
    grid-row-start: 3;
  }
  .start-9\:00{
    grid-row-start: 4;
  }
  .start-9\:30{
    grid-row-start: 5;
  }
  .start-10\:00{
    grid-row-start: 6;
  }
  .start-10\:30{
    grid-row-start: 7;
  }
  .start-11\:00{
    grid-row-start: 8;
  }
  .start-11\:30{
    grid-row-start: 9;
  }
  .start-12\:00{
    grid-row-start: 10;
  }
  .start-12\:30{
    grid-row-start: 11;
  }
  .start-13\:00{
    grid-row-start: 12;
  }
  .start-13\:30{
    grid-row-start: 13;
  }
  .start-14\:00{
    grid-row-start: 14;
  }
  .start-14\:30{
    grid-row-start: 15;
  }
  .start-15\:00{
    grid-row-start: 16;
  }
  .start-15\:30{
    grid-row-start: 17;
  }
  .start-16\:00{
    grid-row-start: 18;
  }
  .start-16\:30{
    grid-row-start: 19;
  }
  .start-17\:00{
    grid-row-start: 20;
  }
  .start-17\:30{
    grid-row-start: 21;
  }
  .start-18\:00{
    grid-row-start: 22;
  }
  .start-18\:30{
    grid-row-start: 23;
  }
  .start-19\:00{
    grid-row-start: 24;
  }
  .start-19\:30{
    grid-row-start: 25;
  }
  /* corresponds to 8pm */
  .start-20\:00{
    grid-row-start: 26;
  }
  



  .end-8\:00{
    grid-row-end: 2;
  }
  .end-8\:20{
    grid-row-end: 3;
  }
  .end-9\:00{
    grid-row-end: 4;
  }
  .end-9\:20{
    grid-row-end: 5;
  }
  .end-10\:00{
    grid-row-end: 6;
  }
  .end-10\:20{
    grid-row-end: 7;
  }
  .end-11\:00{
    grid-row-end: 8;
  }
  .end-11\:20{
    grid-row-end: 9;
  }
  .end-12\:00{
    grid-row-end: 10;
  }
  .end-12\:20{
    grid-row-end: 11;
  }
  .end-13\:00{
    grid-row-end: 12;
  }
  .end-13\:20{
    grid-row-end: 13;
  }
  .end-14\:00{
    grid-row-end: 14;
  }
  .end-14\:20{
    grid-row-end: 15;
  }
  .end-15\:00{
    grid-row-end: 16;
  }
  .end-15\:20{
    grid-row-end: 17;
  }
  .end-16\:00{
    grid-row-end: 18;
  }
  .end-16\:20{
    grid-row-end: 19;
  }
  .end-17\:00{
    grid-row-end: 20;
  }
  .end-17\:20{
    grid-row-end: 21;
  }
  .end-18\:00{
    grid-row-end: 22;
  }
  .end-18\:20{
    grid-row-end: 23;
  }
  .end-19\:00{
    grid-row-end: 24;
  }
  .end-19\:20{
    grid-row-end: 25;
  }
  /* corresponds to 8pm */
  .end-20\:00{
    grid-row-end: 26;
  }
  
  
  
  /* ------------------------------------------------------------------------------------------------------------------------------ */
  
  /* 
    Footer Section
  */
  
  /*
    Footer box
  */
  .footer{
    border-top: 1px solid var(--primary-color-highlight);
  }
  
  .border_highlight{
    border-top: 1px solid var(--primary-color-highlight);
  }
  
  /* container for the footery */
  /* adds padding so footer is slightly moved towards the center */
  .container_footer{
    width: 100%;
    /* vertical | horizontal */
    padding: 0 1rem;
    margin: 0 auto;
  }
  
/* POPUP */
.popUpContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}
.popUp{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.openPopup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popUp h2{
  font-size: 38px;
  font-weight: 500;
  margin:30px 0 10px;
}
.popUp button{
  width: 100%;
  margin-top:50px;
  padding: 10px 0; 
  background: #6fd649;
  color:#fff;
  border:0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor:pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
/* for image */
.popUp img{
  width:100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}