<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="login">
        <form action = '/createaccount' method = 'POST'>
            <input type="text"  name = "f_fname" placeholder = "First Name">
            <input type="text"  name = "f_lname" placeholder = "Last Name">
            <input type="text"  name = "f_uname" placeholder = "Username">
            <input type="password" name = "f_pwd" placeholder = "Password">
            <input type="submit" value="Create Account">
          </form>
      </div>
</body>
</html>