<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="login">
        <form action = '/createaccount' method = 'POST'>
            <input type="text"  name = "f_fname" placeholder = "First Name">
            <input type="text"  name = "f_lname" placeholder = "Last Name">
            <input type="text"  name = "f_uname" placeholder = "Username">
            <input type="password" name = "f_pwd" placeholder = "Password">
            <input type="submit" value="Create Account">
          </form>
      </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body>
    <div style="height:100vh;
            background: #50090b;
            display: flex;
            align-items: center;
            justify-content: center;">
        <div style="background-color: black;
                width: 700px;
                height: 700px;
                border-radius:2%;
                color:white;
                text-align: center;">

            <div style="color: white; 
                text-align: left; 
                margin-top: 1%; 
                margin-left: 1%; 
                font-family: Arial, Helvetica, sans-serif;
                font-weight:550;">
                <form action='/' method='GET'>
                    <input type="submit" value='X' style="background-color: black;
                        color: white;">
                </form>
            </div>

            <div style="margin-top:-2%;">
                <img src="logo.png" alt="logo" width="200px">
            </div>

            <div style="margin-top:-2%; font-size: 32px; font-weight:700;">
                Sign up for SFUnited
            </div>
            <!-- <div class="form-popup" id="myForm"> -->
            <form class="form-container" action='/createaccount' id="the_form" method='POST' style="margin-top:5%;">
                <input type="text" id="uname" name="f_fname" placeholder="First Name" style="width: 70%;
                    padding: 12px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical;
                    text-align: center;
                    background-color: white;
                    color: black;
                    font-weight:600;
                    font-family: Arial, Helvetica, sans-serif;" required>
                <input type="text" id="password" name="f_lname" placeholder="Last Name" style="width: 70%;
                    padding: 12px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-top:2%;
                    text-align: center;
                    background-color: white;
                    color: black;
                    font-weight:600;
                    font-family: Arial, Helvetica, sans-serif;" required>
                <input type="text" id="uname" name="f_uname" placeholder="Username" style="width: 70%;
                    padding: 12px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical;
                    text-align: center;
                    background-color: white;
                    color: black;
                    font-weight:600;
                    margin-top:2%;
                    font-family: Arial, Helvetica, sans-serif;" required>
                <input type="password" id="password" name="f_pwd" placeholder="Password" style="width: 70%;
                    padding: 12px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical;
                    text-align: center;
                    background-color: white;
                    color: black;
                    font-weight:600;
                    margin-top:2%;
                    font-family: Arial, Helvetica, sans-serif;" required>

                <input type="submit" value="Sign up" style="color:black; 
                    font-weight:700; 
                    width:70%; 
                    margin-top:4%; 
                    border:1px solid gray; 
                    border-radius: 40px; background-color: white;" class="btn btn-light
                    font-family: Arial, Helvetica, sans-serif;" name="f_submitbtn">

                <div class="popUpContainer">
                    <div class="popUp" id="popup" name="f_popup">
                        <h2>
                            Sorry!
                        </h2>
                        <p>
                            Try again. Don't include numbers in first name or last name.
                        </p>
                        <button type="button" style="color:black; 
                            font-weight:700; 
                            width:70%; 
                            margin-top:4%; 
                            border:1px solid gray; 
                            border-radius: 40px; background-color: white;" class="btn btn-light
                            font-family: Arial, Helvetica, sans-serif;" onclick="closePopup()">
                            OK
                            <button>
                    </div>
                </div>
            </form>

            <!-- <p></p> -->
            <div style="margin-top:20px; font-weight:600; font-family: Arial, Helvetica, sans-serif;">
                Already have an account?
                <input type="submit" value='Log in' style="margin-top:20px; 
                        border:1px solid gray; 
                        border-radius: 40px; 
                        background-color: white;
                        font-weight:600;
                        width:30%; 
                        font-family: Arial, Helvetica, sans-serif;">
            </div>
        </div>
    </div>
    <script>
        // When the user clicks on <div>, open the popup
        let popup = document.getElementById("popup");
        function openPopup() {
            popup.classList.add("openPopup");
        }
        var boolPopup = <%=bool%>;
        if (boolPopup == true) {
            openPopup();
        }
        function closePopup() {
            popup.classList.remove("openPopup");
        }

    </script>
</body>

</html>