<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "public/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard </h1>

    <div class = "container">
        <img 
        src="background.png"
        alt="background" 
        width="200px"
    >

    </div>
    <ds[] class="flex">
            <form class="page" action="/scheduler" method="post">
                <input type="submit" name="sub" value="Scheduler" class="submit1">
            </form>
        
            <form class="page" action="/navigation" method="post">
                <input type="submit" name="sub" value="Navigation" class="submit2">
            </form>
        
            <form class="page" action="/socials" method="post">
                <input type="submit" name="sub" value="Socials" class="submit3">
            </form>
            <form class ="page" action ="/logout" method = "get">
                <input type="submit" name = "logout" value = "Log out">
            </form>
    </div>
</body>
</html>