<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SFUGroups</title>
        <link rel="stylesheet" href="stylesheets/groups.css">
    </head>

    <body>
        <header>
                <div class ="container">
                    <div class="logo">
                        <img 
                        src="background.png"
                        alt="background" 
                        width="150px"
                        height="80px"
                    >
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <!--connect to dashboard-->
                        </ul>
                    </nav>
                </div>
        </header>

    <div style="display: flex">
        <div class = "containerL">
            <div style="margin-left: 16px;">
                <h2>Clubs on Campus</h2>
                Below is a list of all currently registered clubs, listed in alphabetical order.

            <!--insert club list here-->
            </div>

        </div>
        <div class = "containerR">
            
            <a class="twitter-timeline" href="https://twitter.com/SFU?ref_src=twsrc%5Etfw">Tweets by SFU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            
        </div>
    </div>
    </body>
</html>    