<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SFUGroups</title>
        <link rel="stylesheet" href="stylesheets/groups.css">
    </head>

    <body>
        

        <div class="tophead">
           <ul>
                <li style="bottom:2px;"><a href="https://www.sfu.ca/">sfu.ca</a></li>
                    <li style="margin-left: 1px;"><a href="https://www.facebook.com/simonfraseruniversity/"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li style="margin-left: -18px;"><a href="https://www.twitter.com/SFU"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li style="margin-left: -18px;"><a href="https://www.instagram.com/simonfraseru/"><ion-icon name="logo-instagram"></ion-icon></a></li>
               
            </ul>
        </div>

        <header>

            
                <div class ="container">
                    <div class="logo">
                        <a a href="#"> 
                        <img 
                        src="background.png"
                        alt="background" 
                        width="150px"
                        height="80px"
                        >
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a a href="https://sfunited.herokuapp.com/logout">Logout</a></li>
                        </ul>
                    </nav>
                </div>
        </header>

    <div style="display: flex">
        <div class = "containerL">
            <div style="margin-left: 16px;">
                <h2>Clubs on Campus</h2>
                Below is a list of all currently registered clubs, listed in alphabetical order.

            <!--insert club list here-->
            </div>

        </div>
        <div class = "containerR">
            
            <a class="twitter-timeline" href="https://twitter.com/SFU?ref_src=twsrc%5Etfw">Tweets by SFU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>    