<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link 
            rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div style="height: 100vh; display: flex">
            <div 
                class="container-l"
                style=
                    "max-width:50%;
                    width:50%;
                    background-image: url('background.png');
                    background-size: c;
                    background-position: center;
                "    
            >
            </div>
            <div 
                class="container-r" 
                style="width:50%; 
                max-width: 50%;
                background-color:white;
                display:flex;
                padding:2%;
                
                color:#B5121B;
                "
            >
                <div style="position:relative; left:82%; top:-6%;" >
                <img 
                    src="logo.png"
                    alt="logo" 
                    width="200px"
                    
                >
                </div>

                <div id ='h' style="position:relative; top:19%; right:14%; margin-bottom:19%; margin-right:14%; ">
                    <h1 style="font-size:56px; font-weight:900; font-family: Arial, Helvetica, sans-serif;">Engaging The World</h1>
                    <h2 style="font-size:38px; font-weight:800; font-family: Arial, Helvetica, sans-serif; margin-top:8%">Log in to your SFU account.</h2>
                    <form action = '/' method = 'POST' style="margin-top:6%;">
                        <input type="text" id="uname" name = "f_uname" placeholder="Username" 
                          style="width: 80%;
                          padding: 12px;
                          border: 1px solid #ccc;
                          border-radius: 4px;
                          box-sizing: border-box;
                          resize: vertical;
                          text-align: center;
                          font-family: Arial, Helvetica, sans-serif;" required> 
                        <input type="password" id="password" name = "f_pwd" placeholder="Password" 
                          style="width: 80%;
                          padding: 12px;
                          border: 1px solid #ccc;
                          border-radius: 4px;
                          box-sizing: border-box;
                          resize: vertical;
                          margin-top:2%;
                          text-align: center;
                          font-family: Arial, Helvetica, sans-serif;" required> <br> 
                        <input type="submit" style="color:white; font-weight:800; width:80%; margin-top:4%; border:1px solid gray; border-radius: 40px; background-color: #B5121B; font-family: Arial, Helvetica, sans-serif;" class="btn btn-light" value="Sign in">
                   
                        <div style="margin-top: 70px; font-size:24px; font-weight:700;">
                            Need an account?
                        </div>
                        <!-- <a href="signup.html">
                            <button type="button" style="color:#B5121B; font-weight:800; width:80%; margin-top:4%; border:1px solid gray; border-radius: 40px; background-color: white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-light">Sign up</button>
                        </a> -->
                    </form>
                    <form action = '/createaccount' method = 'GET'>
                      <input type="submit" style="color:#B5121B; font-weight:800; width:80%; margin-top:4%; border:1px solid gray; border-radius: 40px; background-color: white; font-family: Arial, Helvetica, sans-serif;" class="btn btn-light" value = "Sign up">
                    </form>
                </div>

              

            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous">
        </script>

    </body>
</html>
