<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>SFUnited</title>
</head>
<body>
  <div id = "title">Welcome to SFUnited</div>
  <div id="login">
    <form action = '/' method = 'POST'>
      <input type="text"  name = "f_uname" placeholder = "Username">
      <input type="password" name = "f_pwd" placeholder = "Password">
      <input type="submit" value="Login">
    </form>
  </div>
  <div id="createAccount">
    <form>
      <label>Don't have an account? Sign up here</label>
      <input type="submit" value="Sign up">
    </form>
  </div>
</body>
</html>
