<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node.js Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <main style="padding:2em">
        <form action="/login" method="post">
            <fieldset>
                <legend>LOGIN</legend>
                <input type="text" class="form-control form-control-lg" 
                 placeholder="USERNAME" id="uname" name="f_uname">
                <input type="password" class="form-control form-control-lg" 
                 placeholder="PASSWORD" id="pwd" name="f_pwd">
                <input type="submit" class="btn btn-primary btn-block"
                 value="Submit" name="f_sub">
            </fieldset>
        </form>
    </main>
</body>
</html>
