<!DOCTYPE html>
    <html>
      <head>
        <title>Restaurant Finder</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
          #map {
            height: 50%;
            width: 40%;
          }
        </style>
      </head>
      <body>
        <h3>Restaurant Finder</h3>
        <div id="map"></div>
        <ol id="places"></ol>

        <form action ='/maps' method = 'POST'>
            <label>Radius(m):</label>
            <input type ="number" placeholder = "max: 1000m" name = "radius">
            <input type="submit" name ="btn" value = "Filter by: Price">
            <input type="submit" name = "btn" value = "Filter by: Top Rated">
        </form>
        <div>
            <%if(currentRestaurant.length > 0){%>
                <%currentRestaurant.forEach(function(r){%>
                    <%if(r.price == "1" || r.pice == ""){%>
                        <h1><%=r.name%> ($): <%=r.rating%>/5</h1>
                    <%}else{%>
                        <h1><%=r.name%> ($$): <%=r.rating%>/5</h1>
                    <%}%>
                <%})%>
            <%}%>
        </div>
        <button onclick="changeBurnaby()">Burnaby</button>
        <button onclick="changeSurrey()">Surrey</button>
        <script>
            var map;
            var cityCircle;
            var marker;
            var uluruB = {
                lat: 49.2781,
                lng: -122.9199
            };
            var uluruS = {
                lat: 49.1880,
                lng: -122.8494
            };
          function initMap() {
            var r = document.getElementById("radius")
            // The map, centered at Uluru
            map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 15,
                    center: uluruB
                });
            // The marker, positioned at Uluru
            marker = new google.maps.Marker({
                position: uluruB,
                map: map
            });
            cityCircle = new google.maps.Circle({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: uluruB,
                radius: 1000,
            });
            }
        var form = document.querySelector("form");
        form.addEventListener("change", function () {
            if(Number(form[0].value) >= 1000)
            {
                cityCircle.setRadius(1000)
                form[0].value = 1000
            }
            else
            {
                cityCircle.setRadius(Number(form[0].value))
            }
        });
        //change to burnaby campus
        function changeBurnaby()
        {
            map.setCenter(uluruB);
            cityCircle.setCenter(uluruB)
            marker.setPosition(uluruB)
        }
        //change to surrey campus
        function changeSurrey()
        {
            map.setCenter(uluruS);
            cityCircle.setCenter(uluruS)
            cityCircle.setRadius(600)
            marker.setPosition(uluruS)
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_BT-GrVANBYP-iZo_dmM6kYx6pEkQ3Bk&callback=initMap"
        async defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_BT-GrVANBYP-iZo_dmM6kYx6pEkQ3Bk&libraries=places"></script>
    </body>
</html>