<!DOCTYPE html>
    <html>
      <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
          #map {
            height: 50%;
            width: 40%;
          }
        </style>
      </head>
      <body>
        <h3>Google Maps</h3>
        <div id="map"></div>
        <ol id="places"></ol>

        <form>
            <label>Radius:</label>
            <input type ="number">
        </form>

        <button onclick="changeBurnaby()">Burnaby</button>
        <button onclick="changeSurrey()">Surrey</button>
        <script>
            var map;
            var cityCircle;
            var marker;
            var uluruB = {
                lat: 49.2781,
                lng: -122.9199
            };
            var uluruS = {
                lat: 49.1880,
                lng: -122.8494
            };
          function initMap() {
            var r = document.getElementById("radius")
            // The map, centered at Uluru
            map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 15,
                    center: uluruB
                });
            // The marker, positioned at Uluru
            marker = new google.maps.Marker({
                position: uluruB,
                map: map
            });
            cityCircle = new google.maps.Circle({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: uluruB,
                radius: 600,
            });
            }
        var form = document.querySelector("form");
        form.addEventListener("change", function () {
            cityCircle.setRadius(Number(form[0].value))
        });

        function changeBurnaby()
        {
            map.setCenter(uluruB);
            cityCircle.setCenter(uluruB)
            marker.setPosition(uluruB)
        }
        function changeSurrey()
        {
            map.setCenter(uluruS);
            cityCircle.setCenter(uluruS)
            marker.setPosition(uluruS)
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_BT-GrVANBYP-iZo_dmM6kYx6pEkQ3Bk&callback=initMap"
        async defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_BT-GrVANBYP-iZo_dmM6kYx6pEkQ3Bk&libraries=places"></script>
    </body>
</html>