<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Schedule</title>
</head>
<body>
    <h2>Find your class!</h2>
    <div>
        <form action = '/schedule' method= 'POST'>
            <input class = "prof" type="text" placeholder="Course (e.g., CMPT120)" name="fcourse">
            <input type ="submit" id = 'btn' value = "Submit">
        </form>

    </div>
    <h2>Find your professor!</h2>
    <div>
        <form action = '/schedule' method = 'POST'>
            <input class = "prof" type="text" placeholder="First Name" name="fname">
            <input class = "prof" type="text" placeholder="Last Name" name="lname">
            <input class = "prof" type="text" placeholder="Subject" name="subj">
            <input type ="submit" id = 'btn' value = "Submit">
        </form>
    </div>
    <script></script>
</body>

</html>