<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Schedule</title>
</head>
<body>
    <p>Schedule Creator Page</p>
    <form id="inputFields" action="/schedule" method="GET">
        <input type="text" placeholder ="First Name" name = "f_fname" value =""> 
        <input type="text" placeholder = "Last Name" name = "f_lname" value =""> 
        <input type="text" placeholder = "Subject" name = "f_subject" value =""> 
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>