<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Schedule</title>
</head>
<body>
    <p>Schedule Creator Page</p>
    <form class = "prof">
        <input class = "prof" type="text" placeholder="First Name" name="fname">
        <input class = "prof" type="text" placeholder="Last Name" name="lname">
        <input class = "prof" type="text" placeholder="Subject" name="subj">
        <button onclick = "scrape()"></button>
    </form>
</body>
</html>