<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Schedule</title>
</head>
<body>
    <p>Socials Tab Page</p>

    <form class="form-container" action = '/findClub' id ="the_form" method = 'POST' style="margin-top:5%;">
        <input type="text" id="uname" name="f_fname" placeholder="Club Name"
                        style="width: 70%;
                        padding: 12px;
                        border: 1px solid grey;
                        border-radius: 4px;
                        box-sizing: border-box;
                        resize: vertical;
                        text-align: center;
                        background-color: white;
                        color: black;
                        font-weight:600;
                        font-family: Arial, Helvetica, sans-serif;">
    </form>

    
</body>
</html>
